
<footer>
    <div class="f-info">
        <div class="f-info-socials">
           <a href="https://www.facebook.com/profile.php?id=100051095463286&mibextid=ZbWKwL"> <i class="fa-brands fa-square-facebook"></i></a>
          <a href="https://www.instagram.com/mr.khan_o9dc/profilecard/?igsh=NTVlNzg5bzMybGln">  <i class="fa-brands fa-square-instagram"></i></a>
           <a href="https://www.linkedin.com/in/arbaz-khan%F0%9F%9A%80-68b732259?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"> <i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div class="f-info-brand"> &copy;wonderlust private limited</div>

        <div class="f-info-link">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
        
    </div>
</footer>